@font-face {
  font-family: 'PCMontserrat';
  src: url('fonts/MontserratAlternates-ExtraBold.ttf') format('woff');
}

:root {
  --background-color: #f5f6fa;
  --foreground-color: #192a56;
  --button-color: #007bff;
  --color: #34495e;
}

html[data-theme='dark'] {
  --background-color: #192a56;
  --foreground-color: #f5f6fa;
  --button-color: #28a745;
  --color: #ecf0f1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: var(--button-color);
  color: var(--color) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.petscare-brand,
.petscare-brand a {
  font-family: 'PCMontserrat', 'sans-serif';
  color: var(--foreground-color);
}

.petscare-body-bg {
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
}

.petscare-background {
  background-image: url('https://www.transparenttextures.com/patterns/fabric-plaid.png');
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 1.1rem;
  font-weight: bold;
}

.petscare-flash-message{
  right: 0;
}

.petscare-small {
  font-size: .8rem;
}

.fg-color {
  color: var(--foreground-color);
}

table tr td,
table tr th {
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--foreground-color) !important;
}

.invalid-feedback {
  display: block !important;
}

.custom-date-picker {
  position: relative;
}

.custom-date-picker::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: block;
  position: absolute;
  right: 10px;
  width: 20px;
  height: 100%;
  cursor: pointer;
}

.custom-date-picker:before {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" viewBox="0 0 24 24"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-1.99.9-1.99 2L3 20c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zM7 12h5v5H7z"/></svg>');
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-45%);
  pointer-events: none;
}

.map-container {
  height: 400px;  /* Ajuste selon ton besoin */
  width: 100%;
  border-radius: 8px; /* Pour un rendu plus propre */
  overflow: hidden;
}

.petscare-announce {
  height: 70vh;
}

.petscare-last-pets-card{
  height: 230px;
}

.petscare-user-announcement-card{
  height: 450px;
}

.petscare-profile-sidebar {
  height: 95.6vh;
  border-top-right-radius: 1rem;
}